swagger: "2.0"
info:
  version: "0.0.1"
  title: Sup Seasonal
# during dev, should point to your local machine
host: localhost:10010
# basePath prefixes all resource paths
basePath: /
#
schemes:
  # tip: remove http to make production-grade
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /foods:
    x-swagger-router-controller: foods
    get:
      consumes:
        - application/json
      description: Get a list of all seasonal foods along with the months they are in season.
      operationId: getAllFoods
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/FoodsList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    post:
      consumes:
        - application/json
      description: Add a new food and its seasonal information to the list of seasonal foods.
      operationId: addFood
      parameters:
        - name: food
          in: body
          description: The food to add
          required: true
          schema:
            $ref: "#/definitions/Food"
        - name: token
          in: header
          description: User token
          required: true
          type: string
          format: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Food"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /foods/{food_id}:
    x-swagger-router-controller: foods
    get:
      description: Gets seasonal information about a given food.
      operationId: getFood
      parameters:
        - name: food_id
          in: path
          description: ID of food to get
          required: true
          type: integer
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Food"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    put:
      description: Updates the seasonal informat for a food.
      operationId: updateFood
      parameters:
        - name: food_id
          in: path
          description: ID of food to update
          required: true
          type: integer
        - name: food
          in: body
          description: Information to update for a food
          required: true
          schema:
            $ref: "#/definitions/Food"
        - name: token
          in: header
          description: User token
          required: true
          type: string
          format: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Food"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      description: Removes a food from the list of seasonal foods.
      operationId: deleteFood
      parameters:
        - name: food_id
          in: path
          description: ID of food to delete
          required: true
          type: integer
        - name: token
          in: header
          description: User token
          required: true
          type: string
          format: string
      responses:
        "204":
          description: Food deleted
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /months/{month}:
    x-swagger-router-controller: months
    get:
      description: Gets a list of all foods and their seasonal information for a specific month.
      operationId: getMonth
      parameters:
        - name: month
          in: path
          description: Month of the year
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/FoodsList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /months/{month}/recipes:
    x-swagger-router-controller: months
    get:
      description: Get a list of recipes and their seasonal information for a specific month.
      operationId: getRecipes
      parameters:
        - name: month
          in: path
          description: Month of the year
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/RecipeList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /months/{month}/favorites:
    x-swagger-router-controller: favorites
    get:
      description: Gets a list of user's favorited recipes for ingredients from a specific month.
      operationId: getFavoritesByMonth
      parameters:
        - name: month
          in: path
          description: Month of the year
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/FavoritesByMonthList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /users:
    x-swagger-router-controller: users
    get:
      description: Gets a list of all users and their information.
      operationId: getAllUsers
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UsersList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    post:
      description: Adds a new user to the list of registered users.
      operationId: addUser
      parameters:
        - name: user
          in: body
          description: The user to add.
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/User"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /users/{user_id}:
    x-swagger-router-controller: users
    get:
      description: Gets a single user's information.
      produces:
       - application/json
      operationId: getUser
      parameters:
        - name: user_id
          in: path
          description: User's ID
          required: true
          type: integer
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/User"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    put:
      description: Updates a user's information.
      operationId: updateUser
      parameters:
        - name: user_id
          in: path
          description: User's ID
          required: true
          type: integer
        - name: user
          in: body
          description: The user to update
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/User"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      description: Deletes a user from the list of registered users.
      operationId: deleteUser
      parameters:
        - name: user_id
          in: path
          description: User's ID
          required: true
          type: integer
      responses:
        "204":
          description: User deleted
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /favorites:
    x-swagger-router-controller: favorites
    get:
      description: Gets a list of all of a user's favorited recipes.
      operationId: getFavorites
      parameters:
        - name: token
          in: header
          description: User token
          required: true
          type: string
          format: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/FavoritesList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    post:
      consumes:
        - application/json
      description: Adds a recipe to a user's favorites list.
      operationId: addFavorite
      parameters:
        - name: favorite
          in: body
          description: The recipe to be added to favorites
          required: true
          schema:
            $ref: "#/definitions/Favorite"
        - name: token
          in: header
          description: User token
          required: true
          type: string
          format: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Favorite"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /favorites/{fave_id}:
    x-swagger-router-controller: favorites
    get:
      description: Gets a specific recipe from a user's favorites.
      operationId: getFavorite
      parameters:
        - name: fave_id
          in: path
          description: ID of favorited recipe
          required: true
          type: integer
        - name: token
          in: header
          description: User token
          required: true
          type: string
          format: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Recipe"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      description: Removes a recipe from a user's favorites.
      operationId: deleteFavorite
      parameters:
        - name: fave_id
          in: path
          description: Favorite's ID
          required: true
          type: integer
        - name: token
          in: header
          description: User token
          required: true
          type: string
          format: string
      responses:
        "204":
          description: Favorite deleted
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /login:
    x-swagger-router-controller: login
    post:
      description: Allows a user to log in and receive a token.
      operationId: userLogin
      parameters:
        - name: credentials
          in: body
          description: The user's credentials for log in
          required: true
          schema:
            $ref: "#/definitions/Credentials"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Authenticated"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /register:
    x-swagger-router-controller: register
    post:
      description: Allows a new user to provide information to register a new account.
      operationId: userRegistration
      parameters:
        - name: user info
          in: body
          description: The user's information to register a new account
          required: true
          schema:
            $ref: "#/definitions/Registration"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Authenticated"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /swagger:
    x-swagger-pipe: swagger_raw
definitions:
  FoodsList:
    required:
      - foods
    properties:
      foods:
        type: array
        items:
          $ref: "#/definitions/Food"
  Food:
    required:
      - food_name
    properties:
      food_name:
        type: string
  RecipeList:
    required:
      - recipes
    properties:
      recipes:
        type: array
        items:
          $ref: "#/definitions/Recipe"
  Recipe:
    required:
      - id
      - servings
      - sourceURL
      - title
      - readyInMinutes
      - image
      - imageType
      - extendedIngredients
      - instructions
    properties:
      id:
        type: integer
      servings:
        type: integer
      sourceURL:
        type: string
      title:
        type: string
      readyInMinutes:
          type: integer
      image:
        type: string
      imageType:
        type: string
      extendedIngredients:
        type: object
      instructions:
        type: string
  FavoritesList:
    required:
      - favorites
    properties:
      favorites:
        type: array
        items:
          $ref: "#/definitions/Favorite"
  FavoritesByMonthList:
    required:
      - favorites
    properties:
      favorites:
        type: array
        items:
          $ref: "#/definitions/Favorite"
  Favorite:
    required:
      - user_id
      - recipe_id
      - month
    properties:
      user_id:
        type: integer
      recipe_id:
        type: integer
      month:
        type: string
  UsersList:
    required:
      - users
    properties:
      users:
        type: array
        items:
          $ref: "#/definitions/User"
  User:
    required:
      - username
      - email
      - permissions
      - hashed_password
    properties:
      username:
        type: string
      email:
        type: string
      permissions:
        type: string
      hashed_password:
        type: string
  Credentials:
    required:
      - email
      - password
    properties:
      email:
        type: string
      password:
        type: string
  Authenticated:
    required:
      - id
      - username
      - email
      - permissions
      - token
    properties:
      id:
        type: integer
      username:
        type: string
      email:
        type: string
      permissions:
        type: string
      token:
        type: string
  Registration:
    required:
      - email
      - password
      - username
    properties:
      email:
        type: string
      password:
        type: string
      username:
        type: string
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
